## Eclipse
eclipse/
*.launch
.settings
.metadata
.classpath
.project

## Idea
.idea/
*.ipr
*.iws
*.iml
out/

## Gradle
.gradle/
build/

## Sketchup
*.skb

## Built JARs
*.jar
!UMCSetup.jar

## ForgeGradle
run/

## Projects
TrackAPI/
UniversalModCore/

## Generated
src/main/resources/mcmod.info
/bin/
